/* Styles go here */


/*
COLOR THEME
https://color.adobe.com/ru/Defrost-1-color-theme-4302971/
*/

@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,700&subset=latin,cyrillic);
body {
  color: #2C3E50;
  background-color: white;
  font-family: Calibri;
  font-size: 1.1em;
  padding: 0px;
  margin: 0px;
}

main {
  width: 1000px;
  margin: auto;
  padding: 20px 60px 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-color: #D6DDE3;
}

footer {
  height: 80px;
}

h1 {
  color: #E74C3C;
  font-family: Comfortaa;
  font-weight: 700;
}

h2 {
  border-bottom: 1px solid #2980B9;
  margin-bottom: 40px;
  color: #3498DB;
  font-family: Comfortaa;
  font-weight: 300;
}

p {
  padding: 0px 20px;
}

.clearfix>img {
  float: left;
  margin-right: 30px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.targets>li:nth-child(2n+1) {
  /* font-weight: 600;*/
  color: #344991;
  margin-bottom: 4px;
}

.targets>li:nth-child(2n) {
  list-style: none;
  margin-bottom: 30px;
  font-style: italic;
}

.rec {
  color: #2C3E50;
  font-style:italic;
}

.dir {
  color: #344991;
  border-left: 5px solid #344991;
  margin: 0px 0px 0px 20px;
  padding: 10px 0px 10px 10px ;
}

.info {
  color: #E74C3C;
  color: #2C3E50;
  border-left: 5px solid #E74C3C;
  font-weight: 700;
  margin: 0px 0px 0px 20px;
  padding: 10px 10px 10px 10px ;
}

.info + .info
{
  margin: -1px 0px 0px 20px;
}

.desc {
  color: #2C3E50;
  font-weight: 400;
}

#client-server {
  width: 250px;
}